{% extends 'base.html.twig' %}

{% block title %}Utilisateur participants à {{ event.title }}{% endblock %}
{% block page_title %}Utilisateur participants à {{ event.title }}{% endblock %}

{% block body %}

<table class="table table-bordered table-striped mt-4">
    <thead>
        <tr>
            <th>Nom d'utilisateur</th>
            <th>Email</th>
            <th>Nombre de places réservées</th>
            <th>Réservé le</th>
        </tr>
    </thead>
    <tbody>
        {% for booking in bookings %}
            <tr>
                <td><a class="btn btn-link" href="{{ path("profile_show", {username: booking.user.username})}}">{{ booking.user.username }}</a></td>
                <td>{{ booking.user.email }}</td>
                <td>{{ booking.quantity }}</td>
                <td>{{ booking.reservedAt|date('d/m/Y H:i') }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4" class="text-center">Aucun participant encore !</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<a href="{{ path('my_events') }}" class="btn btn-outline-secondary mt-3">Retour à mes événements</a>
{% endblock %}
