{% extends 'base.html.twig' %}

{% block title %}Gestion des Événements{% endblock %}

{% block body %}
{% set menu = "events" %}

{{ include('components/_admin_menu.html.twig') }}

<h2 class="h2 mb-0">Gestion des Événements</h2>

<table class="table table-hover mt-4 table-transparent">
    <thead>
        <tr>
            <th>ID</th>
            <th>Titre</th>
            <th>Lieu</th>
            <th>Date</th>
            <th>Places restantes</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for event in pagination %}
        <tr>
            <td>{{ event.id }}</td>
            <td>{{ event.title }}</td>
            <td>{{ event.location.name }}</td>
            <td>{{ event.startAt|date('d/m/Y H:i') }}</td>
            <td>{{ event.getRemainingSeats() }}/{{ event.capacity }}</td>
            <td class="d-flex gap-2">
                <a href="{{ path('admin_edit_event', {id: event.id}) }}" class="btn btn-sm btn-primary d-inline-flex align-items-center gap-2">
                    <i class="ph ph-pencil-simple-line"></i> Modifier
                </a>
                <form method="post" action="{{ path('admin_delete_event', {id: event.id}) }}" onsubmit="return confirm('Êtes-vous sûr ?');">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete_event_' ~ event.id) }}">
                    <button class="btn btn-sm btn-danger d-inline-flex align-items-center gap-2"><i class="ph ph-trash"></i> Supprimer</button>
                </form>
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="6" class="text-center">Aucun événement trouvé.</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<div class="d-flex justify-content-center mt-4">
    {{ knp_pagination_render(pagination) }}
</div>
{% endblock %}
