{% extends 'base.html.twig' %}

{% block title %}Créer un lieu{% endblock %}

{% block body %}
    <h1>Créer un lieu</h1>

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">{{ message }}</div>
    {% endfor %}

    {{ form_start(locationForm) }}
        {{ form_row(locationForm.name) }}
        {{ form_row(locationForm.address) }}
        {{ form_row(locationForm.city) }}
        {{ form_row(locationForm.postalCode) }}
        <button class="btn btn-primary">Enregistrer le lieu</button>
    {{ form_end(locationForm) }}
{% endblock %}
